{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/creatnewacc.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a class="logo-text" href="index.html">facebook</a>
            </div>

        </div>

        <div class="body">
            <form action="">
            <div class="bhead">
              <h1>creat a new account</h1>
            </div>
            <div class="bp1">
                it,s free and always will be.

            </div>
            <div style="margin-left: 37%; margin-top: 2%;">
                <table>
                    <tr>
                        <td><input class="inpt" type="text" placeholder=" name"></td>
                        
                    </tr>
                    <tr>
                        <td >
                            <input class="inpt" type="text" placeholder="email or mobail no">
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <input  class="inpt" type="password" placeholder="new password">
                        </td>
                    </tr>
                  
                </table>
                
            </div>
            <div class="dob"><h3>Birthday</h3></div>
            <div><input type="date" name="" class="dob" id="dobt"></div>
            <div style="margin-left: 37%; margin-top: 1%;">Mail<input type="radio" name="genter" id="">Femail
            <input type="radio" name="genter" id="" ></div>
            <div>
                <button style="margin-left: 40%; margin-top: 1%;" id="sbtn" type="submit">creat account</button>
            </div>

        </form>
        </div>


    </div>
</body>

</html>