{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/forget.css' %}">
</head>
<body>
    <div class="a">
        <div class="main1" style="background-image: {%  %}">
            <div class="h22"><h2>forget password!</h2></div>
            <div class="p1"><p>"enter the email address you used when you <br> joind and we will seand you instryctions to <br>reset your password"</p></div>
            <div class="i1"><input class="mail" type="email" placeholder="enter email"></div>
        </div>
    </div>
    
</body>
</html>