{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body style="margin: 0;">
<div >

    <div style="width: 100%;">
        <div class="p2">
            <div id="div1">
                <h2 id="h">facebook</h2>
            </div>
            <div class="div1"><span style="color: white; size: 30px;" class="material-symbols-outlined">
                    notifications
                </span></div>
            <div class="div1"><span style="color: white; size: 30px;" class="material-symbols-outlined">
                    newspaper
                </span></div>
            <div class="div1"><span style="color: white; size: 30px;" class="material-symbols-outlined">
                    live_tv
                </span></div>
            <div class="div1"><span style="color: white; size: 30px;" class="material-symbols-outlined">
                    account_circle
                </span></div>
        </div>
    </div>

    <div class="maindiv2">

        <div id="div2_1">
            
            <div id="navi2">

                <input id="inp" type="search" placeholder="serche">

            </div>
            <br>
            <table style="width: 100%; ">
                <tr class="tr1">
                    <td><img style="width: 35px; border-radius: 35px;" src="{% static 'image/images.jpeg' %}" alt="">
                    </td>
                    <td class="td2">messi</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span class="material-symbols-outlined">
                            diversity_3
                        </span></td>
                    <td class="td2">friends</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span class="material-symbols-outlined">
                            reviews
                        </span></td>
                    <td class="td2">messanger</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span class="material-symbols-outlined">
                            flag
                        </span></td>
                    <td class="td2">pages</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span class="material-symbols-outlined">
                            local_convenience_store
                        </span></td>
                    <td class="td2">marketplace</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span class="material-symbols-outlined">
                            live_tv
                        </span></td>
                    <td class="td2">videos</td>
                </tr>
                <tr class="tr1">
                    <td class="td1"><span style="color: rgb(156, 80, 33); " class="material-symbols-outlined">
                            celebration
                        </span></td>
                    <td class="td2">events</td>
                </tr>

            </table>
        </div>
        <div id="div2_2">
            <div class="para"><br>
                <div class="child">
                    <div class="idd">
                        <div class="imgg"><img style="width: 50px;border-radius: 40px;" src="{% static 'image/ronodp.jpeg' %}" alt=""></div>
                        <div class="namee"> Cristiano Ronaldo</div>

                    </div>
                    <div><img style="width: 500px;" src="{% static 'image/ronopost.jpeg' %}" alt=""> </div>
                </div><br>
                <div class="child">
                    <div class="idd">
                        <div class="imgg"><img style="height: 50px;width: 50px;border-radius: 40px;" src="{% static 'image/Ardp.jpeg' %}" alt=""></div>
                       
                        <div class="namee"> Antonella Roccuzzo
                        </div>
                    </div>
                    <div><img style="width: 500px;" src="{% static 'image/msg.jpeg' %}" alt=""></div>
                </div><br>
                <div class="child">
                    <div class="idd">
                        <div class="imgg"><img style="width: 50px; border-radius: 40px;" src="{% static 'image/njdp.jpeg' %}" alt=""></div>
                        <div class="namee"> Neymar</div>
                    </div>
                    <div><img style="width: 500px;" src="{% static 'image/njpost.jpeg' %}" alt=""></div>
                </div><br>
              
            </div>
        </div>

    </div>

   </div> 



</body>

</html>